*
{
    margin:0px;
    text-align: center;
    transition: all 0.5s;
    -moz-transition: all 0.5s;	/* Firefox 4 */
    -webkit-transition: all 0.5s;	/* Safari 和 Chrome */
    -o-transition: all 0.5s;	/* Opera */

}

* {

    scrollbar-3dlight-color: #CCCCCC; /*- 最外左 -*/

    scrollbar-highlight-color: #CCCCCC; /*- 左二 -*/

    scrollbar-face-color: #999999; /*- 面子 -*/

    scrollbar-arrow-color: #CCCCCC; /*- 箭头 -*/

    scrollbar-shadow-color: #CCCCCC; /*- 右二 -*/

    scrollbar-darkshadow-color: #CCCCCC; /*- 右一 -*/

    scrollbar-base-color: #CCCCCC; /*- 基色 -*/

    scrollbar-track-color: #CCCCCC; /*- 滑道 -*/
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

html
{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #2b2c30;
}
.boxImg
{
    margin-top: 40px;
    height:80%;
}
.boxImg:hover
{
    margin-top: 20px;
    cursor: pointer;
}

.threeBorder
{
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: #4e595f;
}
.fourBorder
{
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: #4e595f;
}
.bottomLine
{
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-color: #b6b6b6;
}
.leftFlow
{
    float:left;
}
.toTopImg
{
    position: fixed;
    right:60px;
    bottom:60px;
    height:50px;

    display:none;
}

.toTopImg:hover
{
    cursor:pointer;
    background-color: #6cb670;
}

.bottomDiv
{
    width:100%;
    height:200px;
    background-color: #2c2d31;
}
.bottomIcon
{
    width:20px;
    margin-left: 20px;
    margin-right: 20px;
}

#loader
{
    width:100%;
    height:500px;
    position: fixed;
    text-align: center;
    background-color: #390b2a;
    display:none;
}
#loaderImg
{
    margin-top: 300px;
}

.roundBorder
{
    border-radius: 30px;
}