@font-face {
  font-family: 'TCC Sans Normal';
  src: url('../fonts/tccsans-normal-webfont.eot');
  src: url('../fonts/tccsans-normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tccsans-normal-webfont.woff2') format('woff2'),
       url('../fonts/tccsans-normal-webfont.woff') format('woff'),
       url('../fonts/tccsans-normal-webfont.ttf') format('truetype'),
       url('../fonts/tccsans-normal-webfont.svg#tccsansnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/bebasneue_book-webfont.eot');
  src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue_book-webfont.woff') format('woff'),
       url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
       url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
  font-weight: normal;
  font-style: normal;
}