$left: 200px;
$h-edge: 24px;
$left-sm: 54px;
$h-edge-sm: 14px;
$top:  54px;

.pull-right {
	float: right;
}

.tag {
	display: inline-block;
	padding: 1px 8px;
	font-family: $caps-font-family;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	color: $white-color;
	background-color: $text-color-light;
	@include border-radius(2px);
	@extend %transition;
	&.active,
	&:hover {
		color: $white-color;
		background-color: $primary-color;
	}
}

.avatar {
	display: inline-block;
	background-color: $primary-color-light;
	@include border-radius(4px);
}

.sibling {
	display: inline-block;
	vertical-align: top;
}

i {
	margin-right: 4px;
}

.app {
	padding-left: $left;
	padding-top: $top
}

.topbar {
	position: fixed;
	width: 100%;
	height: $top;
	top: 0;
	left: 0;
	background-color: $gray-color;
	text-align: right;
	z-index: 20;
	.input-search {
		display: table;
		float: right;
		width: 25%;
		padding: (($top - 32px) / 2) $h-edge;
		input {
			display: table-cell;
			width: 100%;
			margin-bottom: 0;
			@include border-radius(16px 0 0 16px);
		}
		.input-addon {
			display: table-cell;
			width: 32px;
		  	height: 32px;
			padding: 8px 4px;
			font-size: rem(16);
			line-height: 1;
			background-color: $white-color;
			color: $gray-color;
		    white-space: nowrap;
		    vertical-align: middle;
		    text-align: center;
			@include border-radius(0 16px 16px 0);
			@extend %transition;
			&:hover {
				color: $primary-color;
			}
		}
	}
}

.sidebar {
	position: fixed;
	width: $left;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	color: $white-color;
	background-color: $gray-color;
	z-index: 21;
	.logo {
		position: fixed;
		padding-left: $h-edge;
		width: $left;
		height: $top;
		line-height: $top;
		font-family: $brand-font-family;
		font-size: rem(24);
		color: $primary-color-light;
		background-color: $gray-color-dark;
	}
	.logo-sm {
		@extend .logo;
		display: none;
		width: $left-sm;
		padding-left: 0;
		text-align: center;
		font-size: rem(18);
	}
	.nav {
		padding-top: 30px + $top;
		.nav-section {
			margin-bottom: 28px;
			@extend %user-select-none;
			.nav-title {
				padding: 4px 0 4px $h-edge;
				font-family: $caps-font-family;
				font-size: rem(13);
				letter-spacing: 1px;
			}
			.nav-item {
				display: block;
				padding: 6px 0 6px $h-edge;
				font-size: rem(16);
				font-weight: $font-weight-thin;
				color: $white-color;
				text-decoration: none;
				border-left: 2px solid $gray-color;
  			@extend %transition;
  			&.active,
				&:hover {
					background-color: $gray-color-light;
					color: $primary-color-light;
					border-left: 2px solid $primary-color-light;
				}
			}
		}
	}
}

.main {
	background-color: $background-color;
	.header {
		margin: 0 $h-edge;
		padding-top: 28px;
		padding-bottom: 12px;
		border-bottom: 1px solid $text-color-light;
		.avatar {
			width: 124px;
			height: 124px;
			margin: 3px 6px 4px 0;
		}
		h1 {
			font-size: rem(24);
			font-weight: $font-weight-normal;
			color: $text-color-dark;
			span {
				margin-left: 12px;
				font-family: $caps-font-family;
				font-size: rem(18);
				color: $text-color-light;
				cursor: pointer;
				@extend %transition;
				&:hover,
				&.on {
					color: $primary-color;
				}
			}
		}
		p {
			padding-bottom: 2px;
			color: $text-color-light;
		}
		.options {
			margin-top: 12px;
			.option {
				@extend .tag;
			}
		}
		.filters {
			margin-top: 12px;
		}
		.filters-wrapper {
			margin: 12px 0;
			padding: 12px;
			background-color: $background-color-alt;
			.filters-section {
				margin-bottom: 12px;
			}
			h2 {
				font-family: $brand-font-family;
				font-size: rem(14);
				font-weight: normal;
				color: $text-color-light;
			}
		}
		.filter {
			@extend .tag;
			margin-bottom: 4px;
			font-family: $brand-font-family;	
			font-size: rem(12);
		}
		.input-url {
			margin-top: 12px;
			input {
				display: inline-block;
				width: 360px;
				padding: 2px 4px;
				height: auto;
				text-align: left;
				border: 1px solid $text-color-light;
				@include border-radius(2px);
			}
			a {
				@extend .tag;
				display: inline-block;
				height: 24px;
				padding: 0 4px;
				font-size: rem(16);
				line-height: 24px;
				vertical-align: top;
				letter-spacing: 0;
				i {
					margin-right: 0;
				}
			}
		}
	}
	.footer {
		margin: 0 $h-edge 28px $h-edge;
		padding-top: 14px;
		border-top: 1px solid $text-color-light;
		h1 {
			margin: 0 0 12px 0;
			padding: 0;
			font-size: rem(24);
			font-weight: $font-weight-normal;
			color: $text-color-dark;
		}
		.pages {
			.page {
				@extend .tag;
			}
		}
	}
}

.item {
	// padding: 12px $h-edge;
	margin-bottom: 12px;
	padding-bottom: 8px;
	border-bottom: 1px dashed lighten($text-color-light, 25%);
	font-family: $brand-font-family;
	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
	&:nth-child(even) {
		background-color: $background-color-alt;
	}
	.avatar {
		width: 72px;
		height: 72px;
		margin-top: 3px;
		margin-right: 4px;
	}
	.avatar-s {
		width: 48px;
		height: 48px;
	}
}

.item-title {
	margin-bottom: 4px;
	font-size: rem(18);
	color: $primary-color;
}
.item-line {
	margin-bottom: 4px;
	font-size: rem(14);
	color: $text-color-light;
	span {
		display: inline-block;
		margin-right: 8px;
	}
	&.item-line-s {
		font-size: rem(12);
	}
}
.item-image {
	width: 100%;
	height: 80px;
	background-color: $primary-color-light;
	@include border-radius(4px);
}

.ranking-item {
	display: block;
	padding: 4px 0;
	font-family: $brand-font-family;
	font-size: rem(16);
	color: $text-color;
	.avatar {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-top: 1px;
		margin-right: 4px;
		vertical-align: top;
		background-color: $primary-color-light;
		@include border-radius(4px);
	}
	span {
		@include text-overflow();
	}
}

.board {
	padding: 12px ($h-edge - 6px);
	@include row;
}
.card {
	margin: 8px 0;
	.card-wrapper {
		margin-bottom: 12px;
		padding: 12px;
		background-color: $background-color-alt;
	}
	.card-fh {
		height: 360px;
		.card-content {
			height: 292px;
		}
	}
	.card-title {
		padding-bottom: 6px;
		margin-bottom: 10px;
		font-size: rem(18);
		border-bottom: 1px solid $text-color-light;
	}
	.card-image {
		width: 100%;
		height: 100%;
		background-color: $primary-color-light;
		@include border-radius(4px);
	}
	.stats {
		.stat {
			display: block;
			margin: 4px 0;
			line-height: 18px;
			i {
				margin: 12px 8px 0 0;
			}
			.stat-value {
				display: inline-block;
				margin-top: 8px;
				height: 18px;
				font-family: $brand-font-family;
				font-size: rem(18);
				color: $primary-color;
			}
			.stat-key {
				display: inline-block;
				font-family: $caps-font-family;
				letter-spacing: 2px;
				font-size: rem(12);
			}
		}
	}
}

.line-1 {
	@include line-overflow(1);
}
.line-2 {
	@include line-overflow(2);
}

$counts: 1 2 3 4 5 6 8 12 16 24;
@for $i from 1 through length($counts) {
	$count: nth($counts, $i);
	@for $j from 1 through $count {
		.grid-#{$j}-#{$count} {
			@include col($j, $count, $gap:6px);
		}
	}
}

@include media-query($on-laptop) {
	$counts: 1 2 3 4 5;
	@for $i from 1 through length($counts) {
		$count: nth($counts, $i);
		@for $j from 1 through $count {
			.grid-#{$j}-#{$count}-md {
				@include col($j, $count, $gap:6px);
			}
		}
	}
	.hidden-md {
		display: none;
	}
}

@include media-query($on-palm) {
	$counts: 1 2 3 4 5;
	@for $i from 1 through length($counts) {
		$count: nth($counts, $i);
		@for $j from 1 through $count {
			.grid-#{$j}-#{$count}-sm {
				@include col($j, $count, $gap:6px);
			}
		}
	}
	.hidden-sm {
		display: none;
	}
	.app {
		padding-left: $left-sm;
	}
	.topbar {
		.input-search {
			width: 54%;
		}
	}
	.sidebar {
		width: $left-sm;
		.logo {
			display: none;
		}
		.logo-sm {
			display: block;
		}
		.nav {
			.nav-section {
				margin-bottom: 18px;
				.nav-title {
					padding: 4px 0 4px $h-edge-sm;
					font-family: $caps-font-family;
					font-size: rem(13);
					letter-spacing: 1px;
					span {
						display: none;
					}
				}
				.nav-item {
					display: block;
					padding: 6px 0 6px $h-edge-sm;
					font-size: rem(16);
					font-weight: $font-weight-thin;
	  			&.active,
					&:hover {
						background-color: $gray-color-light;
						color: $primary-color-light;
						border-left: 2px solid $primary-color-light;
					}
					span {
						display: none;
					}
				}
			}
		}
	}
	.main {
		.header {
			margin: 0 $h-edge-sm;
			padding-top: 28px;
			h1 {
				font-size: rem(24);
			}
			.input-url {
				margin: 12px 0;
				input {
					display: inline-block;
					width: 70%;
					padding: 2px 4px;
					height: auto;
					text-align: left;
				}
				a {
					height: 24px;
					padding: 0 4px;
					font-size: rem(16);
					line-height: 24px;
					vertical-align: top;
					letter-spacing: 0;
					i {
						margin-right: 0;
					}
				}
			}
		}
		.footer {
			margin: 0 $h-edge-sm 28px $h-edge-sm;
			padding-top: 14px;
			h1 {
				margin: 0 0 12px 0;
				font-size: rem(24);
			}
		}
	}	

	.item {
		// padding: 12px $h-edge-sm;
	}

	.board {
		padding: 12px ($h-edge-sm - 6px);
		@include row;
	}
	.card {
		.card-wrapper {
			height: auto;
		}
	}
}

@include media-query($on-mobile) {
	.avatar {
		display: none;
	}
}

@include media-query($on-mobile-min) {
	.ranking-item {
		font-size: rem(12);
		.avatar {
			width: 16px;
			height: 16px;
		}
	}
}
